*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
}
main{
    width: 100%;

}

.headerNav{
    padding:'15px';
    font-Size:'20px';
    color:'#000';
    font-Family:'roboto';
}

.ml-centre{
    padding: 10px;
    padding-left: 40rem;
}

.sidebar{
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 15px;
    margin-left: 50px;
}
.link{
    display: flex;
   
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:grey;
    color: #000;
    transition: all 0.5s;
}

.icon, .link_text{
    font-size: 15px;
}

